## TP3 ##
codigo/tp3
codigo/genetico
codigo/grid

## Elizondo ##
elizondo/*.pyc
elizondo/static_player
elizondo/log/*



## C++ ##
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## LaTeX ##
/informe/build/*
# *.log
# *.aux
# *.out
# *.toc
elizondo
*pyc
